@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body{
    /* background-color: rgb(229, 241, 252); */
    overflow: hidden;
    background-image: url('https://hdqwalls.com/wallpapers/mountains-stars-space-planets-digital-art-artwork-4k-0i.jpg');
    background-position: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#main{
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-block-start: 36px;
    text-align: center;
}
#header{
    background-color: rgba(0, 65, 204, 0);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px;
    z-index: 10;
    color: rgb(37, 37, 37);
    font-size: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
*{
    font-family: 'PT Sans', sans-serif;
    outline: none;
}
::-webkit-scrollbar{
    background-color: rgba(240, 248, 255, 0);
    
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0, 65, 204, 0.918);
    border-radius: 15px;
    border: 2px solid rgba(0, 65, 204, 0.041);
}
::selection{
    user-select: none;
}
#banner{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: linear-gradient(to right , rgba(255, 60, 92, 0.295) , rgba(102, 47, 255, 0.308));
    color: aliceblue;
    width: 100%;
    font-size: 30px;
    padding: 20px;
}
.app{
    background-color: rgba(199, 229, 255, 0.096);
    box-shadow: 0px 0px 10px 0px black;
    width: 90%;
    border: 0ch;
    border-radius: 10px;
    padding: 40px;
    text-align: right;
    font-size: 30px;
    padding-inline-end: 30px;
    color: rgb(39, 39, 39);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 120px 120px;
    background-position: 0 0;
    transition: all ease-in-out 0.5s;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.app:hover{
box-shadow: 0px 0px 20px 0px black;
}
#invento-security
{
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/582/320/original/cctv-camera-icon-vector.jpg');
}
#down{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    z-index: 15;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 48px;
    box-shadow: 0px 0px 50px 0px black;
    -webkit-backdrop-filter: blur(200px) ;
    backdrop-filter: blur(200px) ;
}
#close{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 20px 20px;
    border-radius: 50%;
    background-image: url('./images/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#app-icon{
    position: absolute;
    left: 20px;
    top: 20px;
    height: 30%;
    border-radius: 38px;
    transition: all ease-in-out 0.5s;
}
#app-icon:hover{
    border-radius: 50%;
}
#app-text{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 40%;
    top: 5%;
    right: 20%;
}
#install{
    background-color: rgb(23, 66, 255);
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    position: absolute;
    top: 25%;
    right: 30%;
    width: 30%;
    transition: all ease-in-out 0.5s;
}
#install:hover{
    border-radius: 18px;
}
#des-title{
    font-size: 25px;
    position: absolute;
    top: 40%;
    left: 20px;
}
#des{
    position: absolute;
    top: 50%;
    bottom: 10%;
    left: 20px;
    right: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
a{
    color: rgb(28, 149, 255);
    text-decoration: none;
}
#loader{
    border-radius: 50%;
    position: absolute;
    left: 48%;
    top: 45%;
    border-top: #ff4665 solid 5px;
    border-left: #ff4665 solid 5px;
    border-right: #ff4665 solid 5px;
    border-bottom: #ff466500 solid 5px;
    padding: 20px 20px;
    z-index: 50;
    animation: infinite 1s load;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes load {
    100%{
        transform: rotate(360deg);
    }
}